h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: greenyellow;
  font-size: 100px;
}
table{
  border: none;
  display: flex;
  justify-content: center;
  height: 550px;
}

#idCheck{
  color: red;
  font-size: 0.8em;
  display: none;
}

#pwCheck{
  color: red;
  font-size: 0.8em;
  display: none;
}

#nameCheck{
  color: red;
  font-size: 0.8em;
  display: none;
}

#emailCheck{
  color: red;
  font-size: 0.8em;
  display: none;
}