header,nav,section,footer{
  width: auto;
  height: auto;
  margin: 0 auto;
}

header{
  border: 1px solid black;
  height: auto;
  
}

article{
  width: 100%;
  border: 1px solid red;
  background-color: gray;
  margin: 0% auto;
}




.hos2{
  margin-left: 56%;
}



nav{
  margin: 2px auto;
  border: 1px solid red;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
}


nav > div > i > sup{
  vertical-align:top; 
  font-size: 10px;
}

nav > div > img{
  width: 60px;
  height:50px;
  vertical-align:middle; 
}


nav > div > ruby{
  font-size: 18px;
  font-weight: 900;
  vertical-align:middle; 
}